@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=IBM+Plex+Mono:wght@300&family=Inter:wght@300;500&display=swap');

:root {
    --font-sans-serif: 'Inter', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}

html {
    font-family: var(--font-sans-serif)
}

.cell-pending::before,
.cell-pending::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 4px);
    height: calc(95%);
    top: 2px;
    left: -2px;
    border-radius: 4px;
    background: radial-gradient(at center bottom, rgb(253, 230, 138), rgb(124, 58, 237), rgb(12, 74, 110));
    background-size: 300%;
    animation: border 15s linear infinite;
}

.cell-pending::after {
    filter: blur(5px);
}


@keyframes border {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300%;
    }
}

.footer-shimmer {
    background-color: #818cf8;
}

.footer-shimmer::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, rgb(100, 116, 139), rgb(254, 249, 195));
    animation: shimmer 3s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

.bouncing-loader {
    display: flex;
    justify-content: center;
}

.bouncing-loader>div {
    width: 10px;
    height: 10px;
    margin: 3px 6px;
    border-radius: 50%;
    background-color: #818cf8;
    opacity: 1;
    animation: bouncing-loader 2s infinite alternate;
}

@keyframes bouncing-loader {
    25% {
        opacity: 0.2;
        transform: translateY(-4px);
    }

    75% {
        opacity: 0.2;
        transform: translateY(4px);
    }

}

.bouncing-loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
    animation-delay: 0.4s;
}